<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates and Ships</title>
  </head>
  <body>

    <h1>Pirates and Ships</h1>

    <form action="/pirates" method="post">
      <label for="pirate_name">Name: </label>
      <input id="pirate_name" input type="text" name="pirate[name]">
      
      <label for="pirate_weight">Weight: <input id="pirate_weight" input type="text" name="pirate[weight]">

      <label for="pirate_height">Height: <input id="pirate_height" input type="text" name="pirate[height]">

      <label for="">Ship Name: <input id="ship_name_1" input type="text" name="pirate[ship][][name]">

      <label for="pirate_name">Ship Type: <input id="ship_type_1" input type="text" name="pirate[ship][][type]">

      <label for="pirate_name">Ship Booty: <input id="ship_booty_1" input type="text" name="pirate[ship][][booty]">

      <label for="pirate_name">Ship Name: <input id="ship_name_2" input type="text" name="pirate[ship][][name]">

      <label for="pirate_name">Ship Type: <input id="ship_type_2" input type="text" name="pirate[ship][][type]">

      <label for="pirate_name">Ship Booty: <input id="ship_booty_2" input type="text" name="pirate[ship][][booty]">

      <input type="submit">

    </form></h1>
  </body>
</html>
