<h1><form action="/pirates" method="post">
  Name: <input type="text" name="pirate[name]">
  Weight: <input type="text" name="pirate[weight]">
  Height: <input type="text" name="pirate[height]">
  Ship Name: <input type="text" name="pirate[ship][name]">
  <input type="submit">
</form></h1>
